<ion-content padding class="background">
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" [routerLink]="['/note']">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="scroller" no-bounce>
  <img src="../assets/img/add.png" id="add">
  <ion-card>
    <video 
    width="100%"
    controls="metadata"
    autoplay="autoplay"
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
  <source src="assets/img/Addition.mp4" type="video/mp4">
  </video>
  </ion-card>
  <img src="../assets/img/noteAdd.png" id="note1">
  <img src="../assets/img/noteAdd2.png" id="note2">
  <img src="../assets/img/noteAdd3.png" id="note3">
  <img src="../assets/img/noteAdd4.png" id="note4">
  </div>

</ion-content>