ion-header{
  padding-top: 47px;
}

#game{
  position: absolute;
  top: 350px;
  left: 60px;
}

.funmath{
  position: absolute;
  top: 150px;
  left: 25px;
  right:25px;
  height: 170px;
  width: 270px;
}

ion-content.background{
  //--ion-background-color: #81A8E5;
  --background: none;
  background: url("../../assets/img/background.jpg") no-repeat fixed center;
  background-size: cover;
}

ion-button{
  font-size: 20px;
  width: 200px;
}

