ion-content.background{
    //--ion-background-color: #81A8E5;
    --background: none;
    background: url("../../assets/img/bg.png") no-repeat fixed center;
    background-size: cover;
  }

  #um{
    width: 48%;
    height: 10%;
    position: absolute;
    top: 10%;
    left: 25%;
  }

#content{
    margin-top: 150px;
    margin-left: 15px;
    margin-bottom: 40px;
  }