<ion-content padding class="background">
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" [routerLink]="['/div']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <div class="questions">
    <ion-row >
      <ion-col>
        {{Num1}} ÷ {{Num2}}
      </ion-col>
    </ion-row>
  </div>

<div >
		    <ion-col>
          <button (click)="Selection(Value1,'1')" id="1" class="answer1" [ngStyle]="{'background-color': buttonColor1}">
                      {{Value1}}
            </button> 
            <button (click)="Selection(Value2,'2')" id="2" class="answer1" [ngStyle]="{'background-color': buttonColor2}">
                      {{Value2}}
            </button>
       </ion-col> 
      <ion-col >
        <button (click)="Selection(Value3,'3')" id="3" class="answer1" [ngStyle]="{'background-color': buttonColor3}">
                    {{Value3}}
          </button>
          
          <button (click)="Selection(Value4,'4')"  id="4" class="answer1" [ngStyle]="{'background-color': buttonColor4}">
                  {{Value4}}
        </button>
     </ion-col> 
</div>
      
    </ion-grid>
    </ion-content>

