ion-content.background{
    //--ion-background-color: #81A8E5;
    --background: none;
    background: url("../../assets/img/bg.png")  center;
    background-size: cover;
  }

  #notes{
   text-align:center;
   margin-top: 10%;
  }

  #buttons{
      width: 68%;
      height: 15%;
  }

