ion-content.background{
    //--ion-background-color: #81A8E5;
    --background: none;
    background: url("../../assets/img/bg.png")  center;
    background-size: cover;
  }

  #sub{
      width: 48%;
      height: 10%;
      position: absolute;
      top: 10%;
      left: 25%;
  }
 
 #note1{
    width: 270px;
    height: 270px;
    margin-top: 20px;
    margin-left: 15px;
}

#note2{
    width: 270px;
    height: 270px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 15px;
 }

 ion-card{
    margin-top: 60%;
  }
