ion-content.background{
    //--ion-background-color: #81A8E5;
    --background: none;
    background: url("../../assets/img/bg.png") no-repeat fixed center;
    background-size: cover;
  }
  
    ion-fab{
        --background: black;
    }
  
    ion-content{
      --overflow: hidden;
    }
  
    #easy{
      width: 65%;
      height: 65%;
      position: absolute;
      top: 250px;
      left: 50px;
  }
  
  #medium{
    width: 65%;
    height: 65%;
    position: absolute;
    top: 350px;
    left: 50px;
  }
  
  #hard{
    width: 65%;
    height: 65%;
    position: absolute;
    top: 450px;
    left: 50px;
  }
  
  #exercise{
    position: absolute;
    top: 50px;
    left: 5px;
  }
    