ion-header{
    padding-top: 47px;
  }
  
  #setting{
    position: absolute;
    top: 445px;
    right: 15px;
  }
  
  #game{
    position: absolute;
    top: 445px;
    right: 80px;
  }

  #note{
    position: absolute;
    top: 445px;
    left: 120px;
  }
 
  #operation{
    margin-top: 53%;
    margin-left: 10%;
    height: 260px;
    width: 260px;
  }
  
  ion-content.background{
    //--ion-background-color: #81A8E5;
    --background: none;
    background: url("../../assets/img/bg.png") no-repeat fixed center;
    background-size: cover;
  }

  #bears{
    position: absolute;
    top: 470px;
    left: 20px;
    width: 60%;
    height: 30%;
  }

  #logo{
    position: absolute;
    top: 50px;
    left: 80px;
    width: 170px;
    height: 100px;
  }