<ion-content padding class="background">
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" [routerLink]="['/note']">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="scroller" no-bounce>
  <img src="../assets/img/mul.png" id="sub">
  <ion-card>
    <video 
    width="100%"
    controls="metadata"
    autoplay="autoplay"
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer">
  <source src="assets/img/Multiplication.mp4" type="video/mp4">
  </video>
  </ion-card>
  <img src="../assets/img/mulTable.jpg" id="table">
  <img src="../assets/img/noteMul1.png" id="note1">
  </div>

</ion-content>